$smallLayout: (
    columns: 6,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);

$mediumLayout: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);

$largeLayout: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);

$xlargeLayout: (
    columns: 15,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);
