@import "../../sass/variables";

.side-nav {
  background: white;
  display: table-cell;
  height: 100%;
  transform: translateX(0);

  > header {
    background: white;
    padding: 30px 12px 25px;
    color: white;

    img {
      vertical-align: middle;
    }

    .isp-logo-symbol {
      margin: 3px 5px 3px 4px;
    }

    .isp-logo-text {
      display: none;
    }

    h2 {
      display: none;
    }
  }
  
  .content {
    padding: 0px;
  }

  ul {
    margin: 0;
    padding: 0;
    padding: 0;
  }

  li {
    &:hover {
      a {
        background-color: #ECECEC;
        color: #666666;

        &.active {
          color: #404040;
        }

        [class*="icon-"] {
          color: #fafafa;
        }
      }
    }
  }

  a {
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    transition: all $ease-fast;

    &.active {
      background-color: #ECECEC;

      &,
      &:hover {
        color: #404040;
      }

      [class*="icon-"] {
        color: #fafafa;
      }
    }

    [class*="icon-"] {
      color: $sn-icon;
      font-size: 20px;
      margin-right: 20px;
      vertical-align: middle;
      transition: color $ease-fast;
    }

    // .name {
    //   display: none;
    // }
  }

  .account-info {
    background: $sn-light-active;
    cursor: pointer;
    display: none;
    margin-bottom: 1px;
    padding: 20px;
    transition: background $ease-fast;

    &:hover {
      background: lighten($sn-light-active, 3%);
    }

    .avatar {
      display: block;
    }

    .name {
      color: $sn-text;
      display: block;
      margin-top: 10px;

      [class="icon-"] {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }

  .search-box {
    padding: 10px;
    display: none;

    select {
      width: 100%;
    }
  }

  .avatar {
    img {
      border-radius: 50%;
      width: 48px;
    }
  }
}

.main {
  background: $gray-light;
  display: table-cell;
  height: 100%;
  overflow: hidden;

  .page {
    padding: 20px;
  }
}
.side-nav .imgactive{
  display: none;
}
a.active .inactive{
  display: none;
}
a.active .imgactive{
  display: inline!important;
}

.middle{
  vertical-align:middle;
}