.page-content {
  @include container(100%);

  &.page-content--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);

    h1 {
      margin-bottom: 20px;
    }
  }

  &.two-col {
    .widget {
      @include span(full);
      @include breakpoint(1100px) {
        @include span(6 of 12);
        &:nth-of-type(even) {
          @include span(6 of 12 last);
        }
      }
    }
  }

  &.three-col {
    .widget {
      @include span(full);

      @include breakpoint($screen-sm-min $screen-md-max) {
        @include span(6 of 12);

        &:nth-of-type(even) {
          @include last();
        }
      }

      @include breakpoint($screen-md-max) {
        @include span(4 of 12);
        &:nth-child(3n + 0) {
          @include span(4 of 12 last);
        }
      }
    }
  }

  &.one-two-split {
    @include breakpoint($screen-sm-max) {
      .widget {
        &.half {
          @include span(6 of 12);
        }
      }
    }

    @include breakpoint($screen-md-max) {
      .widget {
        &:nth-child(2), &:nth-child(3) {
          @include span(3 of 12);
        }
        &:nth-child(3) {
          @include last;
        }
      }
    }
  }
}

.widget {
  background: white;
  border-radius: $base-radius;
  box-shadow: 0 0 5px $border-dark;
  overflow: hidden;
  margin-bottom: 20px;

  .widget-header {
    padding: 20px;

    h4 {
      ~ input[type="search"] {
        margin-top: 20px;
        width: 100%;
      }

      ~ time {
        color: $gray-medium;
        display: block;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  .widget-bottom-link {
    @include link();
    display: block;
    padding: 30px 20px 18px;
    text-align: center;
    border-top: 1px solid $border-light;
  }

  .widget-search {
    position: relative;
    padding: 0 20px;

    input[type=search] {
      width: 100%;

      &:focus + .icon-search:before {
        color: $gray-medium;
      }
    }

    .icon-search:before {
      position: absolute;
      font-size: 22px;
      right: 30px;
      top: 6px;
      color: $gray-light;
      transition: color $ease-fast;
      z-index: 1;
    }
  }

  .widget-nav {
    @include nav;
  }

  .widget-sub-nav {
    @include sub-nav;
  }

  .widget-content {
    padding: 20px;
    @include clearfix;
  }

  .inner {
    padding: 20px;
  }

  .context-nav {
    border-bottom: 2px solid $border-light;
  }

  &.chart-top {
    .widget-content {
      padding: 0 20px 20px;
    }
  }
}

.filter-bar {
  background: $gray-xlight;
  padding: 0 20px 20px;
  @include container(100%);

  .widget-nav ~ & {
    padding: 20px;
  }

  select {
    box-shadow: 0 1px 0 0 $border-dark-shadow;
    margin: 0 10px 10px 0;
    @include span(full);
    @include breakpoint($screen-sm-min) {
      width: auto;
      margin: 0 10px 0 0;
    }

    $full-range: $screen-md 1160px;
    @include breakpoint($full-range) {
      @include span(full);
      margin: 0 10px 10px 0;
    }
  }
  .search {
    float: right;
  }
}

.filter-widget {
  .widget-header {
    background: $gray-xlight;
    overflow: hidden;

    .headline-wrap {
      float: left;

      > .btn {
        margin-right: 10px;
      }
    }

    .headline {
      display: inline-block;
      vertical-align: middle;
    }

    .sub-headline {
      color: $gray-medium;
      display: block;
      font-weight: 500;
      margin-top: 8px;
    }

    .pagination {
      float: right;
    }
  }

  .widget-nav {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $gray-light;
  }

  .overview-table {
    border-top: 1px solid $border-dark;

    tr:not(:last-child) {
      border-bottom: 1px solid $border-light;
    }
  }
}

.chart-small {
  @include container(100%);

  .chart {
    @include span(full);

    // placeholder properties
    text-align: center;
    line-height: 120px;
  }
  .chart-info {
    margin-top: 20px;
    @include span(full);

    li {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 10px;
      font-weight: 300;
      color: #727272;
    }

    h5 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  @include breakpoint($screen-sm-min) {
    .chart {
      @include span(2 of 4);
    }

    .chart-info {
      margin: 0;
      @include span(2 of 4 last);
    }
  }
}

.dashboard {
  .widget {
    min-height: 480px;
  }

  .overview-table {
    td {
      padding: 10px;

      &.type {
        text-align: center;
      }

      strong {
        display: block;
      }
    }

    tr:not(:last-child) {
      border-bottom: 1px solid $border-light;
    }
  }

  .chart {
    width: 100%;
    text-align: center;
  }
}

.widget-stats {
  margin: 20px 0 0;
  padding: 0;

  li {
    display: inline-block;
    width: 32%;

    .stat {
      display: block;
      font-size: 36px;
      font-weight: 200;
      margin-bottom: 8px;

      > span {
        font-size: 18px
      }
    }
  }
}

.chart-tabs {
  margin-bottom: 20px;
  @include clearfix;

  li {
    cursor: pointer;
    display: block;
    background: $chart-tab-default;
    padding: 5px;
    float: left;
    width: 33.333%;
    margin-right: 0;
    margin: 0;
    text-align: center;

    &:nth-child(2) {
      background: $chart-tab-secondary;
      color: white;
    }

    &:nth-child(3) {
      background: $chart-tab-tertiary;
      color: white;
      @include last();
    }
  }
}
.page-title{
  color:black;
  margin-top:10px;
  margin-bottom: 25px;
  font-weight:500;
}
.chart-container{
  width:100%;
  background:white;
  border-radius:3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 5px rgba(0,0,0,0.29);
  overflow: hidden;
  margin-bottom:20px;
}
